/* .buttons {
    background-color:#f4f6f9;
    border: 1px rgb(168, 166, 166) solid;
    border-radius: 5px;
    margin:auto;
    padding: 50px;
    padding-left: 50px ;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 5px;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
} */